#
# Simple HamClock desktop file for the raspberry pi user
#
# see hamclock-autostart.desktop for a more comprehsive
# configuration
#
[Desktop Entry]
Name=HamClock
Exec=sh -c 'until [ -n "$DISPLAY" ] || [ -n "$WAYLAND_DISPLAY" ]; do sleep 1; done; sleep 5; exec /usr/local/bin/hamclock'
Icon=/home/pi/.hamclock/hamclock.png
Terminal=false
Type=Application
Categories=HamRadio
